*{
    box-sizing: border-box;
}
/* Slideshow container*/
.carousel-container {
    width: 1200px; 
    height: 60%;
    position:relative;
    margin:auto;
    overflow: hidden;
    margin-top: 10em;
   


}
/*Hide slideshow images by default*/
.myslides {
    display: none;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    
}

/*Caption text for Slideshow images*/
.text {
    color:#f2f2f2;;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: left;
    top:9.2em;
}
/*Number text for slideshow(1/4 etc)*/
.numbertext {
    color: #f2f2f2;
    font-size: 1.5em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    
}
/*Hero Image*/
header > .fill > img {
    margin-top:45px;
}
/*Images for slideshow*/
img {
    max-width: 100%;
    max-height: 100%; 
}

/*The dots/bullets indicators for slideshow images*/
.dot {
    cursor: pointer;
    height: 15px;
    width:15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;  				
    -moz-transition:background-color 0.2s ease;
}
.dotdiv {
    display: flex;
    justify-content: center;
    margin-top:0.5em;

}
 .active, .dot:hover {
    background-color: #717171;
}

/*Fading animation for image slideshow*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    -moz-animation-name: fade;
    -moz-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s; 
}
@keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@-moz-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*Body*/
body {
    margin:0;
    font-family: Lato sans-serif;
    background: rgb(247, 244, 244);
    
}
/*Slidedeck image links. Hover affects*/
.carousel-container:hover .mySlides,
.carousel-container:focus .mySlides {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}
.mySlides::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
}
.carousel-container:hover .mySlides:before,
.carousel-container:focus .mySlides:before {
    display: block;
}

.popuptext {
    color: white; 
    font-family: sans-serif;
    padding: 25%;
    position: absolute;
    display: none;
    bottom:-2.3em;
    font-size: 3em;
    left:2.3em;
  }
  .carousel-container:hover .popuptext,
  .carousel-container:focus .popuptext {
    display: block;
 
  }

.popuptext > a {
      text-decoration: underline;
      color:white;
      cursor: pointer;
  }

/*NAVBAR CSS*/
#navlinks {
    display: flex;
    font-family: Barlow sans-serif;
    background: white;
    margin-top:0;
    height: 9%;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 1;
 
}
.linkcontainer {
    display:flex;
    margin-left: 72%;
    margin-top:1.4%;
}

.navspan > a {
    text-decoration: none;
    font-size: 1.3em;
    margin: 0.5em;   
    color: rgb(122, 117, 117);
  
}
.navspan > a:hover {
    color:black;
}
.navspan:hover {
    text-decoration: underline;
}
#school {
    color: rgb(49, 49, 201);
    font-family: Lato,sans-serif;
    margin-top:20px;
    margin-left:20px;
    position: absolute;
    top:-5px;
    
}

/*Hero Image with Text*/
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position:relative;
  
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;  
}
header > h1 {
    color: white;
    font-size: 4em;
    position:absolute;
    top: 30%;
    letter-spacing: 0.1em;
    left: 3%;
    font-family: Raleway;
}
header > h3 {
    color: white;
    position:absolute;
    top: 50%;
    left: 3%;
    font-size: 2em;
    font-family: Raleway;
    font-size: 25px;
    
}
/*Main Section - Porfolio Items*/
main {
    margin-top:20%;
}

.projects {
    margin-top:20%;
    margin: 12%;
    display: flex;
    
   
    
}
.imagearticle > img {
    border-radius: 5%;
}
.textarticle {
    display:flex;
    flex-direction: column;
    width:50%;
    margin-left:5%;  
    margin-top:-1%;
}
#project1 > .imagearticle > img {
    width:423.59px;
    height: 283.23px;
}

#project2 > .imagearticle > img {
    width:423.59px;
    height: 283.23px;
}
#project3 > .imagearticle > img {
    width:423.59px;
    height: 283.23px;
}

#project4 > .imagearticle > img {
    width:423.59px;
    height: 283.23px;
}

/*About me Section and Education*/
.aboutmeedu {
    background: rgb(183, 226, 243);
    display: flex;  
    justify-content: center;
    padding: 40px;
} 

#flexabout {
    width:33vw;
    margin-left:3%;
    margin-top:0%;
}
#education {
    width:33vw;
    width:50vw;
    margin-left:8%;
    margin-top: 0%;
    
}
#education > p {
 margin: 0 0;
}
#skills > p {
    width:33vw;
    margin: 0 0;   
}

/*Testimonials*/
#testimonials {
    text-align: center;
    display:grid;
    justify-content: center;
    grid-template-areas:
        "content1 empty1"
        "empty2 content2" 
    ;    
    font-weight: bold;
    color:rgb(122, 117, 117);
}

#contenttestimonial1 {
    grid-area: content1;
    margin-left:40px;
    display:block;
}
#emptytestimonial1 {
    grid-area: empty1;
    display:none;
}
#contenttestimonial2 {
    grid-area: content2;
    margin-top:50px;
    margin-right:40px;
    display:block;
}
#emptytestimonial2 {
    grid-area: empty2;
    display: none;
}

body > h1 {
    text-align: center;
    margin-top: 8%;
    margin-bottom:3%;
    color: rgb(49, 49, 201);
}
.containertestimonials > p > a {
    text-decoration: none;
}

/*Contact me*/
form {
    display:grid;
    grid-template-areas: 
        "name email"
        "message message"
        "submit submit";
    grid-gap: 0.75em;
    color: rgb(49, 49, 201);
    width: 100%;
    height: auto;
    
}
input[name="name"] {
    grid-area: name;
  
}
input[name="email"] {
    grid-area: email;  
}
textarea {
    grid-area: message;
}
input[type="submit"] {
    grid-area: submit;
    background: white;
    font-family: Raleway, sans-serif;
    color: rgb(49, 49, 201);
    font-weight: bold;
}

form input, form textarea {
    border: 0.09375em solid rgb(49, 49, 201);
    padding: 0.3125em;
    margin-bottom: -0.4375em;
}
form input::placeholder, form textarea::placeholder {
    color: lightslategray;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size:0.6875em;
}
.contactsection {
    margin-top:10%; 
    width: 80%;
    margin-left:9.375em;
    margin-bottom:5em;

}
.contactsection > h1 {
    letter-spacing: normal;
    text-align: center;
    color: rgb(49, 49, 201);
}
.top {
    height: 3.5em;
    background: rgb(183, 226, 243);
    display:flex;
    justify-content:center;
    align-items: center;   

}
.top > h3 {
    margin-right:4em;
    color: rgb(122, 117, 117);
}
.top > a {
    margin: 0 .5em;
    text-decoration: none;
}
.top > a:hover {
    color:black;
}
