*{
    box-sizing: border-box;
}
/* Slideshow container*/
.carousel-container {
    width: 1000px; 
    height: 40%;
    position:relative;
    margin:auto;
    overflow: hidden;
   

}
/*Hide slideshow images by default*/
.myslides {
    display: none;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    
}

/*Caption text for Slideshow images*/
.text {
    color:#f2f2f2;;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: left;
    top:7.5em;
}
/*Number text for slideshow(1/4 etc)*/
.numbertext {
    color: #f2f2f2;
    font-size: 1.5em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    
}
/*Images for slideshow*/
img {
    max-width: 100%;
    max-height: 100%;
    
    
}

/*The dots/bullets indicators for slideshow images*/
.dot {
    cursor: pointer;
    height: 15px;
    width:15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display:inline-block;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;  				
    -moz-transition:background-color 0.2s ease;
}
.dotdiv {
    display: flex;
    justify-content: center;
    margin-top:1em;
}
 .active, .dot:hover {
    background-color: #717171;
}

/*Fading animation for image slideshow*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    -moz-animation-name: fade;
    -moz-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s; 
}
@keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@-moz-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*Body*/
body {
    margin:0;
    font-family: Lato sans-serif;
    background: rgb(219, 219, 219);
}
/*Slidedeck image links. Hover affects*/
.carousel-container:hover .mySlides,
.carousel-container:focus .mySlides {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}
.mySlides::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
}
.carousel-container:hover .mySlides:before,
.carousel-container:focus .mySlides:before {
    display: block;
}

.popuptext {
    color: white; 
    font-family: sans-serif;
    padding: 25%;
    position: absolute;
    display: none;
    bottom:-2em;
    font-size: 3em;
    left:1.2em;
  }
  .carousel-container:hover .popuptext,
  .carousel-container:focus .popuptext {
    display: block;
 
  }

  .popuptext > a {
      text-decoration: underline;
      color:white;
      cursor: pointer;
  }
/*NAVBAR CSS*/
#navlinks {
    display: flex;
    justify-content: flex-end;
    font-family: Barlow sans-serif;
    background: white;
    margin-top:0;
    height: 8%;
    width: auto;
    padding-top:1.4em;
    position:fixed;
    top:0;
    z-index: 1;
    width: 100%;
}
.navspan > a {
    text-decoration: none;
    font-size: 1.5em;
    margin: 0.5em;   
    color: rgb(122, 117, 117);
    margin-right:1em;
}
.navspan:hover {
    text-decoration: underline;
}
.farfa-bars {
    size: 4em;
}
#school {
    color: rgb(49, 49, 201);
    font-family: Lato,sans-serif;
    margin-right:57.8em;
    margin-top:-0.1em;
}

/*Hero Image with Text*/
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position:relative;
  
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;  
}


header > h1 {
    color: white;
    font-size: 4em;
    position:absolute;
    top: 30%;
    letter-spacing: 0.1em;
    left: 3%;
    font-family: Raleway;
}
header > h3 {
    color: white;
    position:absolute;
    top: 50%;
    left: 3%;
    font-size: 2em;
    font-family: Raleway;
}
 
